html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(https://wallpapercave.com/wp/wp9015071.jpg);
  background-size: cover; /* Make sure the image covers the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

div {
  width: 50%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.leftPanel {
  height: 100%;
  width: 100%;
  min-width: 400px;
  min-height: 650px;
  background-color: white;
  color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.bodyFormFlexbox {
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  html,
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: none;
  }

  div {
    width: 50%;
  }

  .itemList input {
    align-self: start;
    position: relative;
    top: -8px;
  }

  .leftPanel {
    min-width: 350px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
  }

  .header {
    color: darkred;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    text-shadow: 1px 1px 1px rgba(128, 6, 6, 0.781),
      0 0 5px rgba(100, 10, 10, 0.6), 0 0 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: white;
  }

  .filtersBar {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 90%;
    background-color: rgb(242, 242, 245);
    opacity: 75%;
    box-sizing: border-box;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  .bodyFormFlexbox {
    width: 100%;
    background-color: white;
    justify-self: center;
    margin: 0;
  }

  #root {
    width: 100%;
    background-color: white;
  }

  .loggedPageBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
  }

  .dataList {
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 0.85rem;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 0.65fr;
    list-style: none;
    height: fit-content;
    width: 90%;
    opacity: 75%;
    padding-left: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid rgb(202, 201, 201);
    margin-top: 5px;
    padding-bottom: 0;
  }

  .itemList {
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 0.65fr;
    list-style: none;
    height: fit-content;
    width: 90%;
    opacity: 75%;
    padding-left: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid rgb(202, 201, 201);
    margin-top: 5px;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  html,
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: none;
  }

  div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .leftPanel {
    min-width: 100%; /* Allow the leftPanel to occupy full width */
    min-height: auto; /* Let the height be flexible */
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .loggedPageBody {
    background-color: white;
    height: 100%;
  }

  .signinPageBody {
    min-width: 100%; /* Allow the leftPanel to occupy full width */
    min-height: auto; /* Let the height be flexible */
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .leftPanel > .header {
    color: darkred;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    text-shadow: 1px 1px 1px rgba(128, 6, 6, 0.781),
      0 0 5px rgba(100, 10, 10, 0.6), 0 0 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .signupPage > .header {
    color: darkred;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    text-shadow: 1px 1px 1px rgba(128, 6, 6, 0.781),
      0 0 5px rgba(100, 10, 10, 0.6), 0 0 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .bodyFormFlexbox {
    width: 100%;
    justify-self: center;
    margin: 0;
  }

  .signupFlexbox {
    position: relative;
    background-color: white;
    height: fit-content;
    width: 100%;
    color: black;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this to center horizontally */
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    width: 90%; /* Adjust width as needed */
    max-width: 500px; /* Control the maximum width */
    justify-self: center; /* This isn't necessary with flexbox centering */
  }
}

@media (max-width: 480px) {
  html,
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: none;
    display: flex;
    width: 100%;
    align-items: start;
  }

  div {
    width: 100%;
    height: auto;
  }

  .leftPanel {
    min-width: 100%; /* Full width */
    min-height: auto; /* Flexible height */
    display: flex;
    justify-content: center;
  }

  .signinPageBody {
    min-width: 100%; /* Full width */
    min-height: auto; /* Flexible height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .leftPanel > .header {
    color: darkred;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    text-shadow: 1px 1px 1px rgba(128, 6, 6, 0.781),
      0 0 5px rgba(100, 10, 10, 0.6), 0 0 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
  }

  .signinPageBody > .header {
    color: darkred;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    text-shadow: 1px 1px 1px rgba(128, 6, 6, 0.781),
      0 0 5px rgba(100, 10, 10, 0.6), 0 0 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
  }

  .bodyFormFlexbox {
    width: 100%;
    background-color: white;
    justify-self: center;
    margin: 0; /* Minimal padding for very small screens */
  }

  .signupFlexbox {
    position: relative;
    background-color: white;
    height: fit-content;
    width: 100%;
    color: black;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this to center horizontally */
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    width: 90%; /* Adjust width as needed */
    max-width: 500px; /* Control the maximum width */
    justify-self: center; /* This isn't necessary with flexbox centering */
  }

  .loggedPageBody {
    width: 100%; /* Full width for mobile screens */
    height: 100%;
    background-color: white;
  }

  .filtersBar {
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  .itemList {
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 0.65fr;
    list-style: none;
    height: fit-content;
    width: 90%;
    opacity: 75%;
    padding-left: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid rgb(202, 201, 201);
    margin-top: 5px;
    padding-bottom: 0;
  }

  .itemList input {
    align-self: start;
    position: relative;
    top: -3px;
  }
}

@media (min-width: 1025px) {
  .header {
    color: darkred;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px rgba(128, 6, 6, 0.781),
      0 0 5px rgba(100, 10, 10, 0.6), 0 0 1px rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    margin-top: -300px;
    justify-content: center;
  }

  #root {
    background-color: white;
  }

  .signinPageBody {
    height: 100%;
    width: 100%;
    min-width: 450px;
    min-height: 650px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .loggedPageBody {
    display: flex;
    height: 100%;
    width: 100%; /* Restrict to max width of 1000px */
    margin: 0 auto;
    background-color: white;
    position: relative;
    left: 0px;
    flex-direction: column;
    align-items: center;
  }

  .filtersBar {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 90%;
    background-color: rgb(242, 242, 245);
    opacity: 75%;
    position: relative;
    top: 400px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  .dataList {
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 0.85rem;
    position: relative;
    top: 410px;
    display: grid;
    grid-template-columns: 30px 0.85fr 1.25fr 0.65fr;
    list-style: none;
    height: fit-content;
    width: 90%;
    opacity: 75%;
    padding-left: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid rgb(202, 201, 201);
    margin-top: 5px;
    padding-bottom: 0;
  }

  .itemList {
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 0.75rem;
    position: relative;
    top: 410px;
    left: 0px;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 0.65fr;
    list-style: none;
    height: fit-content;
    width: 90%;
    opacity: 75%;
    padding-left: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid rgb(202, 201, 201);
    margin-top: 5px;
    padding-bottom: 0;
  }

  .itemList input {
    align-self: start;
    position: relative;
    top: -8px;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  width: fit-content;
  justify-self: center;
}

.loginForm h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.loginForm p {
  margin-bottom: 0;
}

.loginForm button,
.signupForm button {
  background-color: rgb(163, 2, 2);
  border: none;
  transition: all 0.5s ease;
  margin-bottom: 15px;
}

.loginForm button:hover,
.signupForm button:hover {
  background-color: rgb(216, 126, 52);
  outline: none;
  text-decoration: none;
  border: none;
}

.checkBoxContainer {
  height: fit-content;
  width: fit-content;
  margin-bottom: 10px;
}

.inputForLogin {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(209, 208, 208);
  outline: none;
  color: black;
  padding-left: 10px;
}

.inputForLogin:active {
  text-decoration: none;
  outline: none;
}

.inputForLogin:focus {
  text-decoration: none;
  outline: none;
}

#checkbox {
  background-color: white;
}

.loginForm span,
.signupForm span {
  font-size: 0.75rem;
  color: rgb(105, 104, 104);
  display: inline;
}

.signUp > .signUpLink {
  color: rgb(163, 2, 2);
}

.backToLogin {
  background-color: black;
  width: 100px;
  height: 100px;
}

.buttonsList {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: -30px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.buttonsList li {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.logoutLink {
  margin-right: 20px;
  color: black;
  font-weight: 600;
  font-size: 0.85rem;
}

.logoutLink:hover {
  cursor: pointer;
  color: darkred;
}

.blockButton {
  height: 35px;
  text-align: center;
  background-color: white;
  color: #2358d3;
  display: flex;
  align-items: center;
  outline: 1.75px solid #366ef2;
  padding: 5px;
  padding-right: 7px;
  border-radius: 5px;
  font-size: 0.85rem;
}

.deleteButton {
  height: 35px;
  text-align: center;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  outline: 1.85px solid #b00303;
  padding: 5px;
  border-radius: 5px;
}

.deleteButton:hover {
  text-decoration: none;
  outline: 1.85px solid #b00303;
  border-color: #b00303;
}

.searchBar {
  height: 30px;
  border-radius: 3px;
  outline: 0.5px solid rgb(194, 192, 192);
  background-color: white;
  border: 0;
  padding-left: 5px;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 700px;
  min-width: 100px;
  flex: 1;
  color: black;
}

.lockIcon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.unlockIcon {
  width: 17px;
  height: 15px;
  margin-left: 3px;
}

.deleteIcon {
  width: 17px;
  height: 15px;
  margin-left: 3px;
  margin-right: 3px;
}

.nameDataList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nameDataList li {
  padding: 0;
  margin: 0;
}

.signupFlexbox {
  position: relative;
  background-color: white;
  height: fit-content;
  width: 100%;
  color: black;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  width: fit-content;
  justify-self: center;
}

.signupForm h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.signupForm p {
  margin-bottom: 0;
}

.nameItem {
  font-weight: 550;
}
